body {
    /* display: flex; */
    margin: 0 0;
    /* min-width: 375px; */
    max-width: 1440px;
    height: 100vh;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    flex: 1;
    margin: 15% 15%;
    width: 70%;
    height: 60%;
    flex-wrap: wrap;
    /* border: 3px solid red; */
}

@media (max-width: 1200px) {

    .sedan,
    .suv {
        flex: 50%;
    }

    .luxury {
        flex: 100%;
    }
}

@media (max-width: 650px) {

    .sedan,
    .suv,
    .luxury {
        flex: 33%;
    }
}

.container div {
    /* display: block; */
    /* float: right; */
    /* flex: 1; */
    padding: 3em 3em;
    height: auto;
    flex: 20%;
    text-align: left;
}

.container h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 300px;
    color: hsl(0, 0%, 95%);
    margin-top: 1em;
}

.container p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400px;
    color: hsla(0, 0%, 100%, 0.70);
    margin-top: 2em;
    line-height: 25px;
}

.container a {
    display: inline-flex;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400px;
    text-decoration: none;
    padding: .75em 2em;
    border: 3px solid hsl(0, 0%, 95%);
    border-radius: 50px;
}

.container a:hover {
    background-color: hsl(0, 0%, 95%, 0);
    color: hsl(0, 0%, 95%);
}

.sedan {
    background-color: hsl(31, 77%, 52%);
}

.sedan p {
    margin-bottom: 6em;
}

.sedan a {
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.suv p {
    margin-bottom: 6em;
}

.suv a {
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.luxury p {
    margin-bottom: 6em;
}

.luxury a {
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}

.attribution {
    display: block;
    position: relative;
    margin: 0 0;
    /* left: 35%; */
    /* bottom: 0%; */
    font-size: 14px;
    color: darkgrey;
    border: 3px solid blue;
}